*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: antiquewhite;
    overflow: hidden;
}

header {
    height: 10vh;
    margin-top: 1em;
    font-size: 1.5em;
    text-align: center;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90vh;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    width: 80vw;
    /* height: 15vh; */
}

form > label {
    margin-bottom: 1em;
    text-align: center;
    font-size: 1.5em;
}

#size-or-name-input {
    font-size: 1em;
    height: 2em;
    width: 80%;
    margin-bottom: 1em;
    padding-left: 10%;

    text-align: center;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;}

#select-options-box {
    height: 5vh;
    width: 80vw;
    margin-top: 0.5em;
    margin-bottom: 1.5em;

    display: flex;
    justify-content: space-evenly;

}

.btn-style {
    width: 9em;
    border-radius: 5px;
    box-shadow: rgba(3, 102, 214, 0.3) 0px 0px 0px 3px;
}

.rotate {
    transition: 0.5s;
    transform: rotate(1080deg);
}

.rotate-back {
    transition: 0.5s;
    transform: rotate(0);
}

#canvas-wrapper {
    position: relative;
}

#random-btn {
    position: absolute;
    top: calc(50% - 50px);
    left: calc(50% - 50px);

    width: 100px;
    height: 100px;

    border: antiquewhite solid 10px ;
    background-color: rgb(235, 39, 39);

    border-radius: 50%;

    /* outline: 0.5px rgb(0, 0, 0) solid; */

    /* -webkit-box-shadow: 0px 0px 1px 1px #000000; 
    box-shadow: 0px 0px 1px 1px #252020; */

    font-weight: 600;
    color: rgb(248, 236, 219);


}

#arrow {
    position: absolute;
    top: calc(50% - 130px);
    left: calc(50% - 20px);

    width: 40px;
    height: 100px;
    background-color: rgb(235, 39, 39);

}

#arrow:after{
    content:"";
    position:absolute;
    height:0;
    width:0;
    left:0;
    top:-40%;
    border:20px solid transparent;
    border-bottom: 20px solid rgb(235, 39, 39);
}

#random-btn:hover {

}

#random-btn:active {
    transition: 0.2s;
    background-color: rgb(193, 36, 36);

    box-shadow: inset -2px -2px 3px rgba(255, 255, 255, .6),
                inset 2px 2px 3px rgba(0, 0, 0, .6);
}

.subgroup-container {
    display: flex;
    justify-content: center;
    align-items: center;

    font-weight: 600;

    color: rgb(243, 240, 236);
    border-radius: 5px;
    padding: 1rem;
    margin: 0.1rem;


}

.subgroup-container:hover {
    transition: 0.5s;

    transform: scale(1.1);
    
}

#wrapper {
    display: flex;

    width: 80vw;


}

#start-button {
    font-size: 1em;

    background-color: chocolate;
    color: bisque;

    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;


    width: 20%;
    height: 2em;
}