*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: antiquewhite;
    overflow: hidden;
}

header {
    height: 10vh;
    margin: 1em;
    font-size: 1.5em;
    text-align: center;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90vh;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    width: 80vw;
    height: 15vh;
}

form > label {
    margin: 1em;
    text-align: center;
    font-size: 1.5em;
}

#size-or-name-input {
    font-size: 2em;
    height: 2em;
    text-align: center;
    border-radius: 10px;
}

#select-options-box {
    height: 5vh;
    width: 80vw;
    margin-top: 0.5em;
    margin-bottom: 1.5em;

    display: flex;
    justify-content: space-evenly;

}

.btn-style {
    width: 9em;
    border-radius: 5px;
    box-shadow: rgba(3, 102, 214, 0.3) 0px 0px 0px 3px;
}

/* #test {
    width: 150px;
    height: 150px;

    background-color: black;

    border-radius: 50%;


} */
/*
#test2 {
    position: relative;

} */


.rotate {
    transition: 0.5s;
    transform: rotate(1080deg);
}
